.Contact {
  align-items: center;
  background-color: var(--green);
  border-radius: 0.2rem;
  box-shadow: 0px 2px 4px 0px hsla(0,0%,0%,0.2);
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0.3em 0.5em;
  text-decoration: none;
}

.Contact > :first-child {
  margin-right: 0.5em;
}

.Contact > :last-child {
  font-size: 1.1em;
}

@media print {
  .Contact {
    border: solid 1px var(--green);
    box-shadow: none;
  }

  .Contact * {
    color: var(--green);
  }
}
