.Banner {
  background:
    radial-gradient(circle at 50% 0, hsla(145, 80%, 40%, 0.5), hsla(145, 80%, 30%, 0.7)),
    radial-gradient(circle at 6.7% 75%, hsla(180, 80%, 40%, 0.5), hsla(180, 80%, 40%, 0.7)),
    radial-gradient(circle at 93.3% 75%, hsla(200, 80%, 30%, 0.5), hsla(200, 80%, 30%, 0.7));
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em 0;
}

.Banner-content {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  grid-area: content;
  width: var(--app-width);
}

.Banner-content > * {
  box-sizing: border-box;
  padding: 1em 0 1em 1em;
}

@media screen and (max-width: 900px) {
  .Banner {
    padding: 0;
  }

  .Banner-content {
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 1em 1em 1em;
  }

  .Banner-content > * {
    padding: 1em;
  }
}

@media print {
  .Banner-content {
    width: var(--print-width);
  }
}
