.Card {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: calc(2 * var(--app-width) / 5);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}

.Card > img {
  width: 100px;
  border-radius: 50%;
}

.Card > h1 {
  line-height: 0.9em;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.Card-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Card-contact > * {
  flex: 1;
  margin-bottom: 0.5em;
}

.Card-contact > *:not(:last-child) {
  margin-right: 0.5em;
}

.Card-contact > *:nth-child(2) {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .Card {
    width: 100vw;
  }

  .Card-contact > *:nth-child(2) {
    margin-right: 0.5em;
  }
}

@media print {
  .Card {
    color: var(--black);
  }
}
