.Details {
  width: 100%;
}

.Details-header {
  border-bottom: solid 3px hsla(0, 0%, 100%, 0.3);
  border-top: solid 3px hsla(0, 0%, 100%, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.Details-bio {
  padding-top: 1.25rem;
  white-space: pre-line;
}

@media screen and (max-width: 540px) {
  .Details-header {
    flex-direction: column;
  }
}

@media print {
  .Details-header {
    border-color: var(--pink);
  }

  .Details-header > h3 {
    color: var(--pink);
  }

  .Details, .Details > * {
    color: var(--black);
  }
}
