.Experience .company {
  display: grid;
  grid-template-areas:
    "name daterange"
    "title title"
    "duties duties"
    "achievements achievements";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
}

.Experience .company .name {
  grid-area: name;
}

.Experience .company .title {
  grid-area: title;
}

.Experience .company:not(:first-child) .name, .Experience .company:not(:first-child) .daterange {
  margin: 1em 0 0 0;
}

.Experience .company .title {
  margin: 0;
}

.Experience .company .daterange {
  grid-area: daterange;
  text-align: right;
}

.Experience .company .duties {
  grid-area: duties;
  margin: 0;
}

.Experience .company .achievements {
  grid-area: achievements;
}

@media screen and (max-width: 600px) {
  .Experience .company {
    grid-template-areas:
      "name"
      "title"
      "daterange"
      "duties"
      "achievements";
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }

  .Experience .company:not(:first-child) .daterange, .Experience .company .title {
    margin: 0;
  }

  .Experience .company:not(:first-child) .daterange, .Experience .company .daterange {
    margin: 0 0 1em 0;
    text-align: left;
  }
}
