section.Section {
  padding: 1em 0;
}

section.Section .Heading {
  display: grid;
  grid-template-areas:
    "topborder topborder"
    "heading secondary"
    "bottomborder bottomborder";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
}

section.Section .Heading::before, section.Section .Heading::after {
  background: var(--peach-gradient);
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
}

section.Section .Heading::before {
  grid-area: topborder;
  margin-bottom: 0.5em;
}

section.Section .Heading::after {
  grid-area: bottomborder;
  margin-top: 0.5em;
}

section.Section .Heading > h3 {
  color: var(--pink);
  grid-area: heading;
}

section.Section .Heading > div {
  grid-area: secondary;
  display: flex;
  justify-content: flex-end;
}

section.Section .content {
  padding: 1em 0;
}

@media print {
  section.Section h3::before, section.Section h3::after {
    border-bottom: solid 3px var(--pink);
    height: 0;
  }
}
