.Skills {
  columns: auto 3;
  width: 100%;
  column-gap: 2em;
}

.Skills .Skill {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.Skills .Skill .name {
  display: flex;
  flex: 1;
}

.Skills .Skill .name::after {
  border-bottom: dotted 1px var(--grey);
  box-sizing: border-box;
  content: '';
  display: inline-block;
  flex: 1;
  margin: 0 0.5em 0.15em 0.5em;
}

.Skills .Skill .ranking {
  align-items: center;
  display: flex;
}

.Skills .Skill .ranking > *, .Legend > *::before {
  --circ: 0.75em;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  height: var(--circ);
  margin-left: 0.25em;
  width: var(--circ);
}

.Skills .Skill .ranking.fresh > * {
  border-color: var(--green);
}

.Skills .Skill .ranking > .level.yes, .Legend > *::before {
  border-width: 0.5em;
  box-sizing: border-box;
}

.Skills .Skill .ranking.stale > * {
  border-color: var(--grey);
}

.Legend {
  align-items: center;
  display: inline-flex;
}

.Legend > * {
  align-items: center;
  display: inline-flex;
}

.Legend > *:not(:last-child) {
  margin-right: 0.5em;
}

.Legend *::before {
  content: '';
  display: inline-block;
  margin-right: 0.5em;
}

.Legend .Fresh::before {
  border-color: var(--green);
}

.Legend .Stale::before {
  border-color: var(--grey);
}

@media screen and (max-width: 900px) {
  .Skills {
    columns: auto 2;
  }
}

@media screen and (max-width: 615px) {
  .Skills {
    columns: auto 1;
  }
}
