.Skills {
  columns: auto 3;
  width: 100%;
}

.Skills .Skill {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.Skills .Skill .name {
  flex: 1;
  color: var(--black);
}

.Skills .Skill .ranking {
  display: flex;
  align-items: center;
}
.Skills .Skill .ranking > * {
  --circ: 0.75em;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  height: var(--circ);
  margin-left: 0.25em;
  width: var(--circ);
}

.Skills .Skill .ranking.fresh > * {
  border-color: var(--green);
}

.Skills .Skill .ranking > .level.yes {
  border-width: 0.5em;
  box-sizing: border-box;
}

.Skills .Skill .ranking.stale > * {
  border-color: var(--grey);
}

@media screen and (max-width: 900px) {
  .Skills {
    columns: auto 2;
  }
}

@media screen and (max-width: 450px) {
  .Skills {
    columns: auto 1;
  }
}
