.App {
  --app-width: 900px;
  display: grid;
  grid-template-areas:
    "banner banner banner"
    "leftGutter resume rightGutter";
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content 1fr;
  height: 100vh;
}

@media screen and (max-width: var(--app-width)) {
  .App-banner, .App-resume {
    width: 100vw;
  }
}

.App-banner {
  grid-area: banner;
  width: 100vw;
}

.App-resume {
  grid-area: resume;
  width: var(--app-width);
}
