.App {
  --app-width: 900px;
  --print-width: 100vw;
  display: grid;
  grid-template-areas:
    "banner banner banner"
    "leftGutter resume rightGutter";
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content 1fr;
  height: 100vh;
}

.App-banner {
  grid-area: banner;
  width: 100%;
}

.App-resume {
  grid-area: resume;
  width: var(--app-width);
}

@media screen and (max-width: 900px) {
  .App {
    --app-width: 100vw;
  }
}

@media print {
  .App-resume {
    width: var(--print-width);
  }
}
