@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Playfair+Display:400,700,900');

body {
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 100%);
  --grey:  hsl(0, 0%, 90%);
  --green: hsl(150, 44%, 70%);
  --peach: hsl(20, 80%, 80%);
  --pink:  hsl(360, 80%, 80%);
  --teal:  hsl(171, 100%, 31%);
  --light-red: hsl(5, 75%, 69%);
  --red:   hsl(5, 75%, 56%);

  --peach-gradient:
    radial-gradient(circle at 50% 0, hsla(20, 80%, 80%, 0.5), hsla(20, 80%, 80%, 0.7)),
    radial-gradient(circle at 6.7% 75%, hsla(340, 80%, 75%, 0.5), hsla(340, 80%, 75%, 0.7)),
    radial-gradient(circle at 93.3% 75%, hsla(280, 80%, 50%, 0.5), hsla(80, 80%, 50%, 0.7));

  color: var(--black);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h3 {
  font-size: 1.3rem;
  font-weight: 900;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-weight: 400;
  font-size: 0.9rem;
}

h6 {
  font-size: 0.9rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: var(--pink);
}

@media print {
  body * {
    color: var(--black);
  }

  a {
    text-decoration: none;
  }
}
