ul.List {
  margin: 0;
  padding: 1em 0 1em 2em;
}

ul.List li {
  margin-bottom: 0.5em;
}

ul.List li *:not(:last-child) {
  border-right: solid 1px var(--grey);
  margin-right: 0.5em;
  padding-right: 0.5em;
}
